<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

<script src="/lib/jquery/jquery.min.js"></script>
 <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css"/>
 <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
 <style>
 input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
 .sup{
  color:red;
  font-size:15px;
 }
 </style>
</head>
<body>
<h1 style="text-align:center">Customer Registration</h1>
<form >
<a href="/sale/sale_form_show" style="margin-left:900px;margin-top:20px;">Back Sale</a>

  <div  style="margin-left:400px;margin-top:20px;">
   <div class="form-group">
    <label for="CustomerName">Customer Name<sup id="sup" class="sup">*</sup></label>
    <input type="text" class=" col-sm-4  form-control" name="customerName"  id="customerName"  placeholder="Enter Name" required="required"/>
    <p class="p"></p>
   </div>
    <div class="form-group">
    <label for="CustomerMobile">Customer Mobile<sup id="sup" class="sup">*</sup></label>
    <input type="number" class=" col-sm-4 form-control" name="customerMobile"  id="customerMobile"  placeholder="Enter Mobile" required="required">
    
   </div>
   <div class="form-group">
    <label for="CustomerEmail">Customer Email</label>
    <input type="text" class="col-sm-4  form-control" name="customerEmail" id="customerEmail"  placeholder="Enter email">
    
   </div>
   <div class="form-group">
    <label for="CustomerAddress">Customer Address</label>
    <input type="text" class="col-sm-4  form-control" name="customerAddress" id="customerAddress"  placeholder="Enter Address">
    
   </div>
   
  </div>
  <input type="submit" class="col-sm-4 btn btn-primary" id="customerBtn" value="Save" style="margin-left:400px;width:300px"/>
       
     
  </form>
  <br>
  
 
   <script>
      $(document).ready(function(){
    	$("#customerBtn").on("click",function(event){
    		event.preventDefault();
    		
    		saveCustomer(); //Save Customer Call here
    	}); 
    	 
    });
      
     function saveCustomer() {
    	 
    	       var customerName=$("#customerName").val();
    	       var customerMobile=$("#customerMobile").val();
    	       var customerEmail=$("#customerEmail").val();
    	       var customerAddress=$("#customerAddress").val();
    	       // alert(JSON.stringify(obj));
    	       

		$.ajax({
			type : 'POST',
			contentType: "application/json; charset=utf-8",
			url : '/customer/customer_save',
			data: JSON.stringify({
				'customerName': customerName,
				'customerMobile': customerMobile,
				'customerEmail': customerEmail,
				'customerAddress': customerAddress
				
			}),
			cache: false,
			success : function(response) {
				alert("Okk");
				//alert( "Return Values: " + response['brandName']);
				
				
			},
			error : function() {
				alert("an Error Occured");
			}
		});
		
	}  
     
     function valid(){
    	   var customerName=$("#customerName").val();
	       var customerMobile=$("#customerMobile").val();
	       if(customerName==null){
	    	   $(".p").val("Customer Name Required !");
	       }
    	 
     }
  </script>
  
</body>
</html>