<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<script src="/lib/jquery/jquery.min.js"></script>
 <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css"/>
 <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
 
</head>
<body>
   <div class="alert alert-primary" role="alert" style="color:red;" th:text="${msg}"></div>
   <h1 style="text-align:center;">Product Form</h1>
  <form th:action="@{/brandProduct/save}" th:object="${product}" method="POST" style="margin-left:400px;">
  <a href="/b/brand">Back</a>
  <a style="margin-left:500px;"href="/category/category_show">Next</a>
  <div class="container">
  <div class="row">
  <div class="form-group">
  <select name="brandCode" id="brand" style="height:50px;"></select>
  </div>
  <p></p>
  <div class="form-group">
    
    <input type="text" th:field="*{productName}" class="form-control form-control-lg " id="productName" required="required" placeholder="Enter Product Name">
    
  </div>
  
  
  
  
  </div>
  </div>
  <button style="margin-left:110px; "type="submit" class="btn btn-primary btn-lg">Submit</button>
   
  </form>
  <script type="text/javascript">
    $(document).ready(function(){
    	
    	 getAllBrand();
    });
    
    function getAllBrand() {
		  // const contextpath = /*[[@{/product/product_list}]]*/ '';
		   
			 $.ajax({
				url :'/b/brand_list_show_product_table',
				type : 'get',
				success : function(response) {
					console.log(response);
					$('#brand').append($('<option>', {
						value : '',
						text : 'Select Brand'
					}));
					$.each(response, function(i) {
						$('#brand').append($('<option>', {
							value : response[i].brandCode,
							text : response[i].brandName
						}));
					}); 
				},
				error : function() {
					alert("No data found!");
				}
			});
}
  
  </script>
</body>
</html>